/* GERAL */

html {
  font-family: 'Montserrat', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
}

.title-project {
  text-align: center;
}

.panel {
  margin: 10px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/*  Area da barra de vida  */

.life-bar .life {
  display: flex;
  justify-content: center;
}

.life-bar {
  height: 30px;
  width: 80%;
  border: 1px solid gray;
}

.life {
  background-color: rgb(13, 214, 13);
  height: 100%;
}

.danger {
  background-color: red;
}

.scores {
  display: flex;
}

.score {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

/* Area dos Botões */

.buttons {
  padding-left: 25%;
  padding-right: 25%;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  height: 35px;
  margin: 10px;
  width: 20%;
  font-weight: 600;
  border-radius: 5px;
  border:none;
  cursor: pointer;
}

.btn-attack {
  background-color: red;
  color: white;
}

.btn-attack-special {
  background-color: rgb(255, 196, 0);
  color: black;
}

.btn-heal {
  background-color: rgba(13, 214, 13, 0.815);
  color: white;
}

.desist {
  background-color: rgb(172, 169, 169);
}

.new-game {
  background-color: blue;
  color: white
}

/* Area de resultado */

.result{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.winner {
  color: green;
}

.loser {
  color: red;
}

/* Area do Historico */

.logs ul{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.logs ul li {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 5px 0px;
  padding: 3px 0px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
}

.player {
  background-color: rgba(64, 64, 231, 0.171);
  color: white
}

.monster {
  background-color: rgb(228, 74, 74);
  color: white;
}